<div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text"
            name="name"
            value="{{chefe.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Avatar</div>
    <div>
        <input 
            type="text"
            name="avatar_url"
            placeholder="http://"
            value="{{chef.image}}"
        >
    </div>
</div>