{% extends 'admin/admLayout.njk' %}

{% block content %}

<div class="container cards-recipes">

    <div class="title-page">
        <section>
            <h1>Chef: {{chef.name}}</h1>
        </section>
        <section>
            <a href=/admin/chefs/{{chef.id}}/edit>Editar chef</a>
        </section>
    </div>

    <div class="avatar-chef">
        <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
    </div>
    <div class="name-information">
        <h1>{{chef.name}}</h1>
        <p>colocar o total de recitas</p>

    </div>
 
    <div class = "title_accessed">
        <h1>Receitas</h1>
    </div>

    <section class="cards">
            <div class="card">
                <section>
                    <div class="card_image-container">
                        <img src="{{chef.recipes_image}}" alt="burger" class="card_image">
                    </div>
                </section>
                
                <section>
                    <a>{{chef.recipes_title}}</a>
                    <p>{{chef.name}}</p>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </section>
            </div>
    </section>

</div>

{% endblock %}