@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    

* {
    margin: 0;  
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

header {
    margin-top: 36px;
    margin-bottom: 50px;
    box-sizing: border-box;

}

footer{
    font-weight: regular;
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 30px;
    background: #EEEEEE;
    max-width: 100%;
    margin-top:30px
    
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container {
    max-width: 940px;
    margin: 0px auto;
    position: relative;
}

.links img {
    margin-right: 100px;
    cursor: pointer; 
    margin-bottom: -8px;   
}

.links a {  
    font-weight: regular;
    font-size: 16px;
    color: #111111;
    margin-left: 15px;;
    margin-right: 20px;
}


/* === HOME === */
.description-container h1 {
    font-weight: bold;
    font-size: 32px;
    color: #111111;
    margin-left: 60px;
    width: 316px;
    margin-bottom: 10px;
}

.description-container p {
    opacity: 0.7;
    font-weight: regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-left: 60px;
    width: 316px;
    text-align: justify;
}

.wrapper {
    max-width: 100%;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;    
    width: 940px;
    height: 366px;
    margin: auto;
    margin-top: -6px;

    background: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;  
}

.image_description-container {
    margin: auto;
    margin-bottom: 0px;
}

.title_accessed h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;

    margin-top: 50px;
    margin-bottom: 20px;
}

/* filter */
.container.header-home header{
    display: grid;
    grid-template-columns: 1fr 400px;
}

.filter_recipes input,
.filter_recipes button{
    position: relative;
    outline: none;
}

.container.header-home input{
    max-width: 246px;
    margin-top: 0;
}


/* === CARDS === */
.cards{
    max-width: 940px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    cursor: pointer;
}

.card_image-container img{
    max-width: 100%;
    margin: auto;
    border-radius: 15px;
    object-fit: cover;
}

.card_image{
    width: 300px;
    height: 140px;
}

.cards a{
    margin-bottom: 5px;
    font-weight: regular;
    font-size: 18px;
    color: #111111;
}

.cards p{
    margin-bottom: 30px;
    font-weight: regular;
    font-size: 14px;
    color: #777777;
    margin-bottom: 0px;
}

#recipes{
    margin-top: 24px;
}


/* === ABOUT === */
.paragraph_one h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
    
}

.paragraph_one p{
    font-weight: regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: justify;

}

.paragraph_two h2{
    font-weight: bold;
    font-size: 20px;
    color: #111111;
    margin-bottom: 20px;
}

.paragraph_two p{
    font-weight: regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: justify;
}

.paragraph_three h3{
    font-weight: bold;
    font-size: 20px;
    color: #111111;
    margin-bottom: 20px;
}

.paragraph_three p{
    font-weight: regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 50px;
    text-align: justify;
}


/* === RECIPE === */
.image_recipe-container img{
    border-radius: 15px;
}

.title_author h1{
    font-weight: bold;
    font-size: 36px;
    color: #111111;
    text-align: center;

    margin-top: 50px;
}

.title_author p{
    font-weight: regular;
    font-size: 20px;
    color: #777777;
    text-align: center;

    margin-top: 4px;
    margin-bottom: 50px;
}

h4{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 55px;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    
    cursor: pointer;

}

.topic_button{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ingredients{
    max-width: 32%;
}

#preparation{
    max-width: 42%;
}

#information {
    max-width: 56%;
}

#content {
    margin-left: 2%;
}

.ingredients{
    margin-bottom: 50px;
}

.ingredients h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;

    margin-bottom: 20px;
    margin-right: 8px;
}

.ingredients li{
    font-weight: regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.preparation{
    margin-bottom: 50px;
}

.preparation h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;

    margin-bottom: 20px;
    margin-right: 8px;
}

.preparation li{
    font-weight: regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.information h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 8px;
}

.information p{
    font-weight: regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 50px;
}

.topic_content_ingredients.hide {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.topic_content_ingredients{
    transition: all 50ms;
}

.topic_content_preparation.hide {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.topic_content_preparation{
    transition: all 50ms;
}

.topic_content_information.hide {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.topic_content_information{
    transition: all 50ms;
}

/* === ADMIN === */

/* recipes */
.header-admin {
    background: #111111;
    height: 80px;
    width: 100%;
    position: absolute;
    transform: translateY(-36px)  
}

.adminLinks a + a + a{
    margin-left: 30px;
}

.adminLinks a:first-child{
    margin-right: 50px;
}

.adminLinks a {
    font-size: 15px;
    color: #FFFFFF;
    align-items: center;
    vertical-align: middle;
}


.cards-recipes h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    margin-top: 50px;
}

/* cards */
.cards-recipes .cards{
    max-width: 700px;
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.cards-recipes .card {
    cursor: initial;
    display: grid;
    grid-template-columns: 172px 290px;
}

.cards-recipes .card section:nth-child(2){
    margin-left: 20px;
    display: grid;
}

.cards-recipes .card_image-container img{
    max-width: 100%;
    margin: auto;
    border-radius: 15px;
    object-fit: cover;
}

.cards-recipes .card_image{
    width: 172px;
    height: 80px;
}

.cards-recipes .cards a{
    margin-bottom: 5px;
    font-weight: regular;
    font-size: 18px;
    color: #111111;
}

.cards-recipes .cards p,
.total_recipes-chef{
    margin-bottom: 30px;
    font-weight: regular;
    font-size: 14px;
    color: #777777;
    margin-bottom: 0px;
}

.cards-recipes .card a:last-child,
.page-create button,
.card_chef a{
    font-weight: Bold;
    font-size: 14px;
    color: #6558C3;
    margin-top: 10px;   
}

.page-create button{
    background: none;
    cursor: pointer;
    margin-top: 15px;
}

.container .title-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 65px;
    margin-bottom: 20px;
    height: 40px;

}

.container .title-page h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    height: 100%;
    margin-top: 5px;
}

.container .title-page button,
.container #form-delete button,
.container .title-page a,
.filter_search{
    padding: 9px 20px;
    background: #6558C3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    right: 0;    
}

.container #form-delete button{
    transform: translateX(-160px);
    background-color: lightcoral;
}

/* chefs */
.chefsAdm h1{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px
}


/* === FORM === */
.container .item div:nth-child(1){
    font-weight: Bold;
    font-size: 16px;
    color: #111111;
    margin-top: 30px;
}

.container item:nth-child(1) div:first-child{
    margin-top: 0px;
}

input,
textarea, select{
    border: 1px solid #DDDDDD;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    max-width: 918px;
    margin-top: 10px;
    outline: none;
}

select {
    background: #FFFFFF;
    max-width: 938px;
}

input[name="preingredients"],
input[name="preparations_mode"]{
    margin-top: 6px;
}

.page-create .last-input textarea{
    padding: 10px;
    height: 257px;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
}

.avatar-chef img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}

.name-information h1,
.name-information p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name-information h1{
    margin-top: 30px;
    font-size: 36px;
}

.name-information p {
    margin-top: 4px;
    font-size: 20px;
    color: #777777;
    text-align: center;
}

/* index chefs */
.card_image-container .card_image-chef img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.cards_chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.card_chef {
    display: grid;
    grid-template-columns: 65px 1fr;
}

.card_image-container.chef img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: border-box;
}

.card_chef .name_chef {
    font-weight: regular;
    font-size: 18px;
    color: #111111;
    margin-top: 8px
}

.card_chef a,
.card_chef .name_chef {
    margin-left:  20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total_recipes-chef {
    margin-left: 20px;
    margin-top: 5px;
}

.search_title h1 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
 
    margin-bottom: 20px;
}

/* PHOTOS UPLOAD*/
form .itemPhotos .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form .itemPhotos #photos-upload {
    position: relative;

    display: block;
    overflow: hidden;

    width: 149px;
    height: 149px;
}

form .itemPhotos #photos-upload p{
    border: 1px solid #DDDDDD;
    border-radius: 3.5px; 

    display: flex;
    align-items: center;
    justify-content: center;

    width: 99%;
    height: 98%;
}

form .itemPhotos #photos-upload p span{
    font-size: 45px;    
    color: #777777;
}

form .itemPhotos #photos-input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .itemPhotos #photos-preview {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 149px);
    grid-gap: 8px;
    right: 0;
}

form .itemPhotos #photos-preview img{
    width: 100%;
    height: 150px;

    object-fit: cover;
} 

#photos-preview .itemPhotos {
    position: relative;
}


#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);

    color: red;


    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

form .itemPhotos.chef #photos-upload{
    background: #6558C3;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
    margin-top: 10px;

    height: 30px;
}

form .itemPhotos.chef input#photos-input {
    margin-top: 0;
    padding: 0;
    width: 100%;
    
}


/* PRODUCT VIEW */
/* .recipe-single.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(63,63,63,.5);

    border: 1px solid #efefef;
    border-radius: 4px;
} */

.recipe-single.container .image_recipe-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.recipe-single.container .image_recipe-container img {
    height: 280px;
    width: 100%;

    object-fit: cover;

}

/* product single gallery */
.recipe-single.container .gallery-preview {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 2px;
}

.recipe-single.container div.gallery-preview {
    float: right;
}

.recipe-single.container .gallery-preview img {
    height: 50px;
    width: 50px;

    border-radius: 3.5px;


    object-fit: cover;

    opacity: 0.6;

    cursor: pointer;

    transition: 200ms;
}

.recipe-single.container .gallery-preview img:hover,
.recipe-single.container .gallery-preview img.active {
    opacity: 1;
}