{% extends "layout.njk"%}

{% block head %}
    <title>Foodfy</title>
{% endblock %}

{% block filter %}

        <form action="/search" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder= "Buscar por receitas"
                value={{filter}}
            >
            <button class="filter_search" type="submit">Buscar</button>
        </form>

{% endblock %}

{% block content %}

    <div class="container">
        <section class="wrapper">

            <div class="description-container">
                <h1>As melhores Receitas</h1> 
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="image_description-container">
                <img src="chef.png" alt="chef image">
            </div>
        </section>
        
        <div class = "title_accessed">
            <h1>Mais acessadas</h1>
        </div>

        <section class="cards">
            {%for recipe in recipes%}
                <div class="card" id= "{{recipe.index}}">
                    <div class="card_image-container">
                        <img src="{{recipe.image}}" alt="burger" class="card_image">
                    </div>
                    <a>{{recipe.title}}</a>
                    <p>{{recipe.chef_name}}</p>
                </div>
            {% endfor %}
        </section>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}       