{% extends "layout.njk" %}

{% block head%}
    <title>Receitas | Foodfy</title>
{% endblock%}

{% block content %}

    <section class="cards">
        {%for recipe in recipes %}
            <div class="card" id="{{recipe.index}}">
                <div class="card_image-container">
                    <img src="{{recipe.image}}" alt="burger" class="card_image">
                </div>
                
                <a>{{recipe.title}}</a>
                <p>{{recipe.chef_name}}</p>
            </div>
        {% endfor %}
    </section>

    <script src="/scripts.js"></script>

{% endblock%}